<!DOCTYPE html>
<html lang="en">
<head>
<title>Flask Demo</title>
</head>
<body>
<form action="#" method="post" >
<p>Devices:</p>
<table>
<tbody>
<tr>
    <td>Device:</td>
    <td><input type="text" name="device" /></td>
</tr>
<tr>
    <td>Serial Number:</td>
    <td><input type="text" name="serial_number" /></td>
</tr>
<tr>
    <td>Issuer:</td>
    <td><input type="text" name="issuer"/></td>
</tr>
<tr>
    <td>Reading:</td>
    <td><input type="text" name="reading"/></td>
</tr>
<tr>
    <td>Patient ID:</td>
    <td><input type="text" name="patient_ID"/></td>
</tr>
<tr>
    <td>Issue Date:</td>
    <td><input type="text" name="issue_date"/></td>
</tr>
<tr>
    <td>Status:</td>
    <td><input type="text" name="status"/></td>
</tr>
</tbody>
</table>
<p><input type="submit" value="submit"/></p>
</form>
</body>
</html>