{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Task</h1>

    <div class="form">
        <form action="/update/{{patient.id}}" method="POST">
            <br><br>
            <input type="text" name="name" id="name" placeholder="Name"><br>
            <input list="devices" name="device" id="device" placeholder="Device">
            <datalist id="devices">
                <option value="Blood Pressure">
                <option value="Glucometer">
                <option value="Oximeter">
                <option value="Pulse">
                <option value="Thermometer">
                <option value="Weight">
            </datalist><br>
            <input type="text" name="issuer" id="issuer" placeholder="Issuer"><br>
            <input type="text" name="reading" id="reading" placeholder="Reading"><br>
            <input list="stat" name="status" id="status" placeholder="Status"><br>
            <datalist id="stat">
                <option value="Active">
                <option value="Inactive">
            </datalist>
            <input type="text" name="serial_number" id="serial_number" placeholder="Serial Number"><br>
            <input type="submit" value="Add Patient">
        </form>
    </div>
</div>
{% endblock %}